<h1>Contact MartinLayooInc.</h1>

<div #emailFormView>
    <div class="centralProduct">
        <form #emailForm="ngForm" (ngSubmit)="emailForm.form.valid" enctype="multipart/form-data" method="post" action="/Home/SendEmail">
            <div style="background-color: #F0F0F0; margin-right: 0px; margin-left: 0px; text-align: left;">
                <div id="hiddenContent" style="display:none;"></div>
                <div class="centralProduct">
                    <div style="background-color: #F0F0F0; margin-right: 0px; margin-left: 0px; text-align: left;padding-left: 10px;">
                        <div style="margin-left: auto; margin-right: auto;padding-left: 10px;">
                            <div style="background-color: #DADADA; padding-left: 10px; padding-top: 20px;">
                                <div>
                                    <div>
                                        <label id="ContactUsDetails" style="width: 100%; margin-left: 0px; font-weight: bolder; font-size: small; color: #AD0000;">Contact MartinLayooInc Software Solutions</label>
                                    </div>

                                    <div style="font-weight: bold; color: Red; width:100%;">
                                    </div>
                                    <div style="padding-top: 10px; width:100%;">
                                        <div style="padding-left:10px; width:66%;float:left;">
                                            <div style="padding:15px; color:red;">
                                                Please Note: You should be logged in to make contact, otherwise your email won't be sent
                                            </div>
                                            <div style="width: 100%;">
                                                <input name="emailFrom" type="text" [(ngModel)]="email.emailFrom" #emailFrom="ngModel" required placeholder="your email address" style="font-weight: bold; width: 100%; color: #000040" /><br />
                                                <div *ngIf="emailForm.submitted && emailFrom.invalid" class="text-danger">
                                                    email from field required.
                                                </div>
                                                <input name="emailTo" type="text" [(ngModel)]="email.emailTo" #emailTo="ngModel" required placeholder="to email addresses separated by commas" style="font-weight: bold; width: 100%; color: #000040" /><br />
                                                <div *ngIf="emailForm.submitted && emailTo.invalid" class="text-danger">
                                                    email to field required.
                                                </div>
                                                <input name="emailSubject" type="text" required #emailSubject="ngModel" [(ngModel)]="email.emailSubject" placeholder="subject" style="font-weight: bold; width: 100%;color: #000040;" /><br />
                                                <div *ngIf="emailForm.submitted && emailSubject.invalid" class="text-danger">
                                                    email subject field required.
                                                </div>
                                                <input type="file" name="attachment" (change)="getFiles($event)" value="Attach file" ngModel #attachment="ngModel" id="attachment" /><br />
                                            </div>
                                            <div style="width: 98%;">
                                                <div *ngIf="emailForm.submitted && emailBody.invalid" class="text-danger">
                                                    email body field required.
                                                </div>
                                                <textarea name="emailBody" id="MessageText" required [(ngModel)]="email.emailBody" #emailBody="ngModel" placeholder="Enter your post here" style="font-weight: bold;width:100%; height:50vh !important;color: #000040" autofocus></textarea>
                                            </div>
                                        </div>
                                        <div id="ourContactDetails" class="oneRowRegButton1" style="min-width:34%;float:left; background-color: #AD0000;min-height: 250px; padding-left: 5px; font-weight: bolder; font-size: Smaller; color: black;"></div>
                                        <div style="clear:both;"></div>
                                    </div>                                   
                                    <div style="width:100%; margin-top:2%;">
                                        <input type="submit" class="but-primary" (click)="sendEmail()" value="Submit To Email" />
                                        <div style="clear:both;">
                                            <br />
                                        </div>
                                    </div>
                                    <div style="padding-top: 10px; width:100%;">
                                        <div style="text-align: center;float:left;margin-left:30px;">
                                            <img src="/assets/images/brickWall.jpg" style="float:left;" />
                                            <img src="/assets/images/ug-flag.gif" style="float:left;" />
                                            <div style="clear:both;">
                                                <br />
                                            </div>
                                        </div>
                                        <div style="text-align: center;float:left;margin-left:30px;">
                                            <img src="/assets/images/brickWall.jpg" style="float:left;" />
                                            <img src="/assets/images/uk-flag.gif" style="float:left;" />

                                            <div style="clear:both;">&nbsp;</div>
                                        </div>
                                    </div>
                                    <div style="width:100%;">
                                        <div style="clear:both;width: 90%; padding: 10px; font-weight: bolder; font-size: Small; color: #AD0000;">Please fill the Recaptcha to verify you are not a robot before posting!<br /></div>
                                    </div>
                                    <div style="clear:both;margin-top:1%;width:80%;margin-left:-30px;">
                                        <div id="recaptureLayoo" data-sitekey="6LdNTQcTAAAAAFTdftZgQH4SsXtDWtPGvoyIOWkE" style="margin-bottom:10px;padding: 10px;width:80% !important;"></div>
                                    </div>

                                    <div id="map" style="min-height:380px;width:99%; padding-top: 10px; padding: 10px; z-index: 10000; position: relative;">
                                    </div>

                                    <div style="clear:both;">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


