<section id="banner" style="height:auto !important;">
  <header style="margin-top:5px !important;position:relative !important;">
    <!-- Nav -->
    <nav id="nav">
      <div style="position:relative !important;margin-bottom:5px;text-align:left;">
        <span style="color:red;background-color:black;padding:5px;display:none;font-size:small;" class="col-lg-4" id="loginName"></span><br />
      </div>
      <ul style="margin: 6px 0px !important;">
        <li style="margin:10px 0px !important;padding:10px !important;">
          <a [routerLink]="['/']">Home</a>
        </li>
        <ng-container *ngIf="actUserStatus.isUserLoggedIn" ngDefaultControl ngModel="actUserStatus">
            <li style="margin: 10px 0px !important; padding: 10px !important;">
                <a routerLink='/manage-entities'>Manage Entities</a>
            </li>
        </ng-container>
        <ng-container *ngIf="userRoles && userRoles.indexOf('Fundi') > -1" ngDefaultControl ngModel="userRoles">
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a routerLink='/fundi-subscription'>Fundi Subscription</a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a routerLink='/manage-profile'>Manage Fundi Profile</a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a routerLink='/fundi-search-job'>Search For Jobs</a>
          </li>
        </ng-container>
        <ng-container *ngIf="userRoles && userRoles.indexOf('Client') > -1" ngDefaultControl ngModel="userRoles">
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a routerLink='/client-create-job'>Manage Jobs</a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/clientsearch']">
              Search For Fundi
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="actUserStatus.isUserAdministrator" ngDefaultControl ngModel="actUserStatus">
            <li style="margin: 10px 0px !important; padding: 10px !important;">
                <a routerLink='/manage-roles'>
                    Manage Roles
                </a>
            </li>
            <li style="margin: 10px 0px !important; padding: 10px !important;">
                <a routerLink='/admin-entities-override'>
                    Admin Overrides
                </a>
            </li>
        </ng-container>
        <ng-container *ngIf="!actUserStatus.isUserAdministrator" ngDefaultControl ngModel="actUserStatus">
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/contactus']">
              Contact Us
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/aboutus']">
              About Us
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="!actUserStatus.isUserLoggedIn" ngDefaultControl ngModel="actUserStatus">
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/login']">
              login
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/register']">
              Register
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="actUserStatus.isUserLoggedIn" ngModel="actUserStatus" ngDefaultControl>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/scanqrcode']">
              Scan Qr-Code
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a (click)="setIsLogInPage()" [routerLink]="['/home']">
              Logout
            </a>
          </li>
        </ng-container>
        <li style="margin: 10px 0px !important; padding: 10px !important;">
          <a [routerLink]="['/forgot-password']">
            Forgot password
          </a>
        </li>
      </ul>
    </nav>
    <!-- Roles Banner-->
    <ng-container *ngIf="actUserStatus.isUserLoggedIn" ngDefaultControl>
      <!-- Nav -->
      <nav style="text-align:left !important;">
          <ul style="margin: 6px 0px !important;">
              <li style="margin:10px 0px !important;padding:10px !important;" *ngFor="let role of userRoles">
                  <a routerLink="/{{role}}" routerLinkActive='link-active' style="text-align: left !important; color: white !important;">{{role}}</a>
              </li>
              <li style="margin: 10px 0px !important; padding: 10px !important;">
                  <a routerLink='/fundi-locations' routerLinkActive='link-active' style="text-align: left !important; color: white !important;">Fundi Locations</a>
              </li>
          </ul>
      </nav>
    </ng-container>
    <hr/>
  </header>
</section>
