<div class="container-fluid" id="termsAndConditionsOfService-wrapper" style="background-color: #EEEEEE; text-align: left;">
    <section>
        <h2 style="text-align:center !important;padding:10px 0px !important;">Agreement &amp; Conditions Of Service To Observe</h2>
        <h2 style="text-align:center !important;padding:10px 0px !important;">{{currentDate}} &copy; MartinLayooInc.</h2>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" id="workCategories" style="margin: 2px 0px !important;">
                <h5>Terms And Conditions Of Service</h5>
                <div>
                    {{termsAndConditionsOfServiceHtml}}
                </div>
            </div>
        </div>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" id="terms" style="margin: 2px 0px !important;">
                <h5>Additional Notes Of Liabilities</h5>
                <div>
                    {{liabilityNotesHtml}}
                </div>
            </div>
        </div>
        <form #fxs="ngForm" (ngSubmit)="acceptTermsAndConditions($event)">
            <div class="row" style="margin: 2px 0px !important;">
                <div class="col-lg-12" style="margin: 2px 0px !important;">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" style="z-index: 1000 !important;" type="checkbox" name="termsAndConditionOfService" [(ngModel)]="termsAndConditionOfService" id="termsOfService" />
                        <label class="custom-control-label" for="termsAndConditionOfService">
                            Please accept the terms and conditions of service
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 2px 0px !important;">
                <div class="col-lg-12" style="margin: 2px 0px !important;">
                    <input type="submit" class="btn-primary" value="Accept" style="margin-top:10px;" />
                </div>
            </div>
        </form>
    </section>
</div>
