<div class="container-fluid" id="termsAndConditionsOfService-wrapper" style="background-color: #EEEEEE; text-align: left;">
    <section>
        <h2 style="text-align:center !important;padding:10px 0px !important;">Agreement &amp; Conditions Of Service To Observe</h2>
        <h4 style="text-align:center !important;padding:10px 0px !important;">This document is a legally binding contract  between a fundi  and client listed below.</h4>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" id="workCategories" style="margin: 2px 0px !important;">
                <h5>Terms And Conditions Of Service</h5>
                <div>
                    <h5>Scope of Work</h5>

                    <p>Fundi will perform services at the Client's address listed above in accordance with the detailed scope of work attached to this contract.</p>

                    <h5>Change Orders</h5>
                    <p>
                        Fundi will perform only those services approved in writing by the Client. If the Clientshall, at any time, require services not listed in the scope of work attached to this services contract, a written change order shall be created and signed by both parties prior to the performance of such work.
                        Permits, Licensing, & Approvals
                    </p>

                    <p>
                        Client is responsible for procuring any permits or approvals required for the completion of the projects listed in the scope of work . This includes any zoning changes or changes to applicable covenants or local building guidelines.
                    </p>

                    <p>
                        The Fundi shall be responsible for any professional licensing required for the execution of the work outlined in the scope of work.
                    </p>

                    <h5>
                        Insurance & Loss Coverage
                    </h5>

                    <p>
                        Client agrees to maintain adequate property insurance to protect against loss or damage due to theft, fire, vandalism, etc.
                    </p>

                    <p>
                        Fundi agrees to maintain reasonable liability insurance to protect against personal injury or loss.
                    </p>


                    <p>
                        Both parties agree to provide copies of the insurance certificates for their respective policies to one another.
                    </p>
                    <h5>
                        Property Access
                    </h5>
                    <p>
                        Client agrees to be present at the scheduled work time to ensure that Fundi has reasonable access to the working area, including parking space.
                    </p>
                    <p>
                        The Fundi agrees to contact Client 48 hours prior to arrival to schedule an appropriate arrival time, and agrees to make a reasonable effort not to disturb or damage the Homeowner's property outside of any demolition required for the project listed in the scope of work.
                    </p>

                    <h5>
                        Site Conditions
                    </h5>
                    <p>
                        The scope of work and pricing for this contract are based on conversations and any walkthroughs completed by the Fundi and Client. The fundi has taken reasonable measures to ensure that the scope of work and pricing represent the entire project requirements, but cannot guarantee a final price due to the possibility of unforeseen complication.
                    </p>
                    <p>
                        In the event that unforeseen complications, including (but not limited to) mold, termites, structural damage, or building code violations are discovered after the project begins, the Fundi will cease work on the project and draft a change order listing any additionally required materials or labor. Client agrees that any unforeseen complications may increase the final price of the project.
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" id="terms" style="margin: 2px 0px !important;">
                <h5>Additional Notes Of Liabilities</h5>
                <div>
                    <h5>Payment Schedule</h5>
                    <p>
                        Client agrees to make payments in accordance with the following payment schedule:
                        <br />
                    </p>
                    <section>
                        <div class="row" style="border:solid thin white !important;">
                            <div class="col-lg-6" style="background-color: silver !important; border-right: solid thin white !important;"><h4>Payment Date</h4></div>
                            <div class="col-lg-6" style="background-color: silver !important;"><h4>Payment Amount</h4></div>
                        </div>
                        <div class="row" style="border:solid thin white !important;">
                            <div class="col-lg-6" style="border-right: solid thin white !important;">Payment 1 date<br /></div>
                            <div class="col-lg-6">Payment 1 amount<br /></div><br />
                        </div>
                        <div class="row" style="border:solid thin white !important;">
                            <div class="col-lg-6" style="border-right: solid thin white !important;">Payment 2 date<br /></div>
                            <div class="col-lg-6">Payment 2 amount<br /></div><br />
                        </div>
                        <div class="row" style="border:solid thin white !important;">
                            <div class="col-lg-6" style="border-right: solid thin white !important;">Payment 3 date<br /></div>
                            <div class="col-lg-6">Payment 3 amount<br /></div><br />
                        </div>
                        <div class="row" style="border:solid thin white !important;">
                            <div class="col-lg-6" style="border-right: solid thin white !important;"> Project Completion<br /></div>
                            <div class="col-lg-6">Payment 4 amount<br /></div><br />
                        </div>
                        <br />
                    </section>
                    <p>
                        Client agrees to make payments via cash, check, or Mobile money on the dates listed above. The Client/Fundi will place a lien on the Fundi/Client  time upon commencement of this project, and will fully release the lien upon completion of project.
                    </p>

                    <h5>Final Inspection</h5>

                    <p>
                        Prior to making final payment, Client will have the opportunity to review all completed work with the Fundi. Client will have the opportunity to identify any incomplete or unsatisfactory work, and is authorized to withhold final payment until such issues are addressed by the Fundi.
                        Warranty.
                    </p>

                    <p>
                        MyFundi does not offer or imply any warranty for materials used for the project. Any defect or failure of parts or materials used in the project shall be the sole responsibility of the Client.
                    </p>
                    <p>
                        The fundi shall extend a warranty for all labor for a period of warranty months. This warranty covers installation and workmanship. Should the Client discover any incomplete, incorrect, faulty, or failed workmanship during the warranty period, The Fundi shall correct such issues at their sole cost and expense.
                    </p>
                    <p>
                        Prior to making final payment, Client will have the opportunity to review all completed work with the Fundi. Client will have the opportunity to identify any incomplete or unsatisfactory work, and is authorized to withhold final payment until such issues are addressed by the Fundi.
                        Warranty.
                    </p>

                    <h5>Dispute Resolution</h5>
                    <p>
                        Client and Fundi agree to make reasonable efforts to resolve any disagreements related to this contract between themselves. In the event that the two parties cannot agree on an issue, both parties agree to resolve the issue through a civil court located in [Sender.City], [Sender.State]. The decision of that court shall be considered final.
                    </p>

                    <h5>
                        Governing Law
                    </h5>
                    <p>
                        This fundi services contract shall be governed by the laws of Uganda.
                    </p>

                    <h5>
                        Acceptance
                    </h5>
                    <p>
                        The undersigned parties agree that, having read and understood the entirety of this fundi contract and it's attachments, this contract shall commence as of contract date with the full intent that all parties involved uphold and enforce the full terms of this contract at all times.
                    </p>
                </div>
            </div>
        </div>
        <form #fxs="ngForm" (ngSubmit)="acceptTermsAndConditions($event)">
            <div class="row" style="margin: 2px 0px !important;">
                <div class="col-lg-12" style="margin: 2px 0px !important;">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" style="z-index: 1000 !important;" type="checkbox" name="termsAndConditionOfService" [(ngModel)]="termsAndConditionOfService" id="termsOfService" />
                        <label class="custom-control-label" for="termsAndConditionOfService">
                            Please accept the terms and conditions of service
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 2px 0px !important;">
                <div class="col-lg-12" style="margin: 2px 0px !important;">
                    <input type="submit" class="btn-primary" value="Accept" style="margin-top:10px;" />
                </div>
            </div>
        </form>
    </section>
</div>
