
<div class="container-fluid" style="background-color: #F0F0F0; text-align: left;">
    <section>
        <div style="padding-top:5px;padding-bottom:5px !important; margin-top:5px !important;margin-bottom:5px !important">
            <h1>Fundi</h1>
            <a routerLink='/fundi-search-job' routerLinkActive='link-active' style="margin-top:7px;padding-bottom:7px !important;">Fundi Find Next Job</a>
        </div>
    </section>
    <section>
        <address ngDefaultControl></address>
        <hr />
    </section>
    <section>
        <location ngDefaultControl></location>
        <hr />
    </section>
    <section>
        <company ngDefaultControl></company>
        <hr />
    </section>
</div>
