<h1>Client User</h1>
<div class="container-fluid" style="background-color: #F0F0F0; text-align: left;">
  <section>
      <div style="padding-top:5px;padding-bottom:5px !important; margin-top:5px !important;margin-bottom:5px !important">
          <a routerLinkActive='link-active' routerLink='/clientsearch'>Find Handy Man (Fundi)</a>
      </div>
  </section>
  <section>
    <address ngDefaultControl></address>
    <hr />
  </section>
  <section>
    <location ngDefaultControl></location>
    <hr />
  </section>
  <section>
    <company ngDefaultControl></company>
    <hr />
  </section>
</div>
