<div #vehicleView class="col-lg-12" style="text-align:left !important; color:black !important;">
    <h4>Forgot Password</h4>
    <form #f3n="ngForm" (ngSubmit)="f3n.form.valid && resetPassword($event)">

        <div class="form-group">
            <label>UserId</label>
            <input type="text" name="userId" [(ngModel)]="passwordReset.id" required #userId="ngModel" readonly/><br />
            <div *ngIf="f3n.submitted && userId.invalid" class="text-danger">
                UserId required
            </div>
            <textarea name="passwordResetToken" [(ngModel)]="passwordReset.token" required #token="ngModel"  placeholder="Paste Token!" style="width:100% !important; height:20vh !important;"></textarea><br />
            <div *ngIf="f3n.submitted && token.invalid" class="text-danger">
                Token required
            </div>
            <input type="password" name="password" [(ngModel)]="passwordReset.password" required #myPassword="ngModel" placeholder="Password!" /><br />
            <div *ngIf="f3n.submitted && myPassword.invalid" class="text-danger">
                Password required
            </div>
            <input type="password" name="repassword" [(ngModel)]="passwordReset.repassword" required #repassword="ngModel" placeholder="Retype Password!" /><br />
            <div *ngIf="f3n.submitted && repassword.invalid" class="text-danger">
                Retype Password required
            </div>
            <input type="submit" (click)="resetPassword($event)" class="but-primary" value="Reset Password" style="margin-top:10px;" />
        </div>
    </form>
</div>
