<div class="container-fluid" style="background-color: #EEEEEE; text-align: left;">
    <h1 style="text-align:center !important;padding:10px 0px !important;">{{userDetails.firstName}} {{userDetails.lastName}} Client Profile</h1>
    <section id="Profile">
        <div class="row" style="text-align: center !important; align-content: center !important;">
            <div class="col-lg-12">
                <img id="profileImage" src="/ClientProfile/GetClientProfileImageByUsername?username={{userDetails.username}}" alt="profileImage" style="width:250px; height:auto; align-content:center !important;" />
            </div>
        </div>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" id="viewProfileSummary" style="margin: 2px 0px !important;">
                <h5>Client Profile Summary</h5>
                <div>{{clientProfile.profileSummary}} <br/></div>
                <h5>Client Phone Number: {{userDetails.mobileNumber}}</h5>
                <hr />
            </div>
        </div>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" style="margin: 2px 0px !important;">
                <h5>Job ID</h5>
                <label id="jobId" name="jobId">#{{job.jobId}}</label>
            </div>
        </div>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" style="margin: 2px 0px !important;">
                <h5>Job Name</h5>
                <label type="text" id="jobName" name="jobName">{{job.jobName}}</label>
            </div>
        </div>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" style="margin: 2px 0px !important;">
                <h5>Job Location Name</h5>
                <Label id="locationName" name="locationName">{{job.location.locationName}}</Label>
            </div>
        </div>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" style="margin: 2px 0px !important;">
                <h5>Job Description</h5>
                <div id="jobDescription" name="jobDescription">
                    {{job.jobDescription}}
                </div>
            </div>
        </div>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" style="margin: 2px 0px !important;">
                <h5>Work Categories</h5>
              <ul id="ulistWorkCategories">
                <li *ngFor="let jwc of workCategories">
                  {{jwc.workCategory}}
                </li>
              </ul>
            </div>
        </div>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" id="workCategories" style="margin: 2px 0px !important;">
                <h5>Estimate Of Days To Complete</h5>
                <label type="number" id="numberOfDaysToComplete">{{job.numberOfDaysToComplete}}</label>
            </div>
        </div>
        <div class="row" style="margin: 2px 0px !important;">
            <div class="col-lg-12" style="margin: 2px 0px !important;">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" name="hasBeenAssignedFundi" [(ngModel)]="job.hasBeenAssignedFundi" id="hasBeenAssignedFundi" readonly/>
                    <label class="custom-control-label" for="hasBeenAssignedFundi">Has Been Assigned Fundi</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" name="hasCompleted" [(ngModel)]="job.hasCompleted" id="hasCompleted" readonly/>
                    <label class="custom-control-label" for="hasCompleted">Has Completed</label>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 2px 0px !important;">
            <form #fundiJobApplicationForm="ngForm"  (ngSubmit)="fundiJobApplicationForm.form.valid" enctype="multipart/form-data" method="post">
                <div class="col-lg-12" style="margin: 5px 0px !important;">
                    <div>
                        <div style="width: 100%;">
                            <div style="margin: 5px 0px !important;" *ngIf="fundiJobApplicationForm.submitted && emailFrom.invalid" class="text-danger">
                                email from field required.
                                <br />
                            </div>
                            <input name="emailFrom" type="email" [(ngModel)]="email.emailFrom" #emailFrom="ngModel" required placeholder="your email address" style="font-weight: bold; width: 100%; color: #000040" /><br />

                            <div style="margin: 5px 0px !important;" *ngIf="fundiJobApplicationForm.submitted && emailSubject.invalid" class="text-danger">
                                email subject field required.
                                <br />
                            </div>
                            <input name="emailSubject" type="text" required #emailSubject="ngModel" [(ngModel)]="email.emailSubject" placeholder="subject" style="font-weight: bold; width: 100%;color: #000040;" /><br />

                            <input type="file" name="attachment" (change)="getFiles($event)" value="Attach CV file" ngModel #attachment="ngModel" id="attachment" /><br />
                        </div>
                        <div style="margin:5px 0px !important;" *ngIf="fundiJobApplicationForm.submitted && emailBody.invalid" class="text-danger">
                            email body field required.
                            <br />
                        </div>
                        <textarea name="emailBody" required #emailBody="ngModel" [(ngModel)]="email.emailBody" cols="10" rows="8" placeholder="email body required"></textarea>
                    </div>
                    <div style="margin:0px 5px">
                        <input type="file" id="cvUpload" />
                    </div>
                    <div style="width:100%;">
                        <div style="clear:both;width: 90%; padding: 10px; font-weight: bolder; font-size: Small; color: #AD0000;margin:0px 5px;">Please fill the Recaptcha to verify you are not a robot before posting!<br /></div>
                        <hr/>
                    </div>
                    <myrecaptcha></myrecaptcha>
                    <input type="submit" class="btn-primary" value="Apply For Job" style="margin:5px; 0px;display:none;" (click)="sendEmail($event)" />
                </div>
            </form>
        </div>
    </section>
</div>
