
media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content{
      padding-top: 50px;
  }
}
  nav.user-login ul {
      color: white !important;
      font-size: small;
      font-weight: bolder;
  }

