<div class="row" id="client-addresses-wrapper">
  <div class="col-lg-12" style="text-align:left !important; color:black !important;">
    <form #clientAddForm="ngForm" (ngSubmit)="clientAddForm.form.valid" id="clientAddForm">
      <h4> Address</h4>
      <div #Address>
        <div class="form-group">
          <label>AddressId - optional</label>
          <select id="clientAddressId" name="clientAddressId" [(ngModel)]="addressId" (change)="onClientAddressChanged()"></select>
        </div>
        <div class="form-group">
            <label>Address Line 1</label>
            <input type="text" name="AddressLine1" [(ngModel)]="clientAddress.addressLine1" required #clientAddressLine1="ngModel" />
            <div *ngIf="clientAddForm.submitted && clientAddressLine1.invalid" class="text-danger">
                AddressLine1  required
            </div>
        </div>
        <div class="form-group">
            <label>Address Line 2</label>
            <input type="text" name="addressLine2" [(ngModel)]="clientAddress.addressLine2" required #clientAddressLine2="ngModel"/>
            <div *ngIf="clientAddForm.submitted && clientAddressLine2.invalid" class="text-danger">
                AddressLine2  required
            </div>
        </div>
        <div class="form-group">
            <label>Town</label>
            <input type="text" name="town" [(ngModel)]="clientAddress.town" required #town="ngModel"/>
            <div *ngIf="clientAddForm.submitted && town.invalid" class="text-danger">
                Town  required
            </div>
        </div>
        <div class="form-group">
            <label>Post Code</label>
            <input type="text" name="postCode" [(ngModel)]="clientAddress.postCode" required #postCode="ngModel" />
            <div *ngIf="clientAddForm.submitted && postCode.invalid" class="text-danger">
                Post Code  required
            </div>
        </div>
        <div class="form-group">
            <label>Country</label>
            <input type="text" name="country" [(ngModel)]="clientAddress.country" required #country="ngModel"/>            
            <div *ngIf="clientAddForm.submitted && country.invalid" class="text-danger">
                Country  required
            </div>
        </div>
      </div>
      <input type="submit" value="Select Address" class="but-primary" (click)="selectAddress()" style="margin-top:10px;" />
      <input type="submit" value="Add Address" class="but-primary" (click)="addAddress()" [disabled]="clientAddForm.invalid" style="margin-top:10px;" />
      <input type="submit" value="Update Address" class="but-primary" (click)="updateAddress()" [disabled]="clientAddForm.invalid" style="margin-top:10px;" />
      <input type="submit" value="Delete Address" class="but-primary" (click)="deleteAddress()" [disabled]="clientAddForm.invalid" style="margin-top:10px;" />
    </form>
  </div>
</div>
