<div class="row">
  <div class="col-lg-12" style="text-align:left !important; color:black !important;">
    <section id="work-category">
      <form #allWorkCategoryForm>
        <div class="row">
          <div class="col-lg-12" id="workCategories">
            <h4>Work Categories</h4>
            <select id="slworkCategoryId" name="workcategory"></select><br />
            <input type="button" class="btn-primary" value="Add Category" (click)="addCategory()" />
          </div>
        </div>
      </form>
    </section>
  </div>
 </div>
