<section id="tweets-section" class="wrapper style1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="margin:15px 0">
        <h3 style="text-align:center !important;" id="tweetheader"></h3>
      </div>
    </div>
    <div class="row">
      <section class="col-lg-4">
        <div class="box highlight">
          <i class="icon solid major fa-paper-plane"></i>
          <h4>Tweet Feed 1</h4>
          <p id="tweet1" style="text-align:left !important;color:blue;"></p>
        </div>
      </section>
      <section class="col-lg-4">
        <div class="box highlight">
          <i class="icon solid major fa-pencil-alt"></i>
          <h4>Tweet Feed 2</h4>
          <p id="tweet2" style="text-align:left !important;color:blue;"></p>
        </div>
      </section>
      <section class="col-lg-4">
        <div class="box highlight">
          <i class="icon solid major fa-wrench"></i>
          <h4>Tweet Feed 3</h4>
          <p id="tweet3" style="text-align:left !important;color:blue;"></p>
        </div>
      </section>
    </div>
  </div>
</section>
