<h1>About Martin Layoo Inc.</h1>

<div class="container-fluid" style="background-color: #F0F0F0; text-align: left;">
    <div style="text-align: left;padding:10px;">
        <h2>About Us</h2>
        <div class="row">
            <div class="col-lg-6">
                <img id="imgMartin" src="/assets/images/martin.jpg" style=" width:22%; height:auto;" />
            </div>
            <div class="col-lg-6">
                <img id="imgMartin2" src="/assets/images/HappyGrad.jpg" style=" width:22%;height:auto;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="/assets/images/brickWall.jpg" style="padding:10px;"/>
                <img src="/assets/images/ug-flag.gif" style="top:0px;"/>
            </div>
            <div class="col-lg-6">
                <img src="/assets/images/brickWall.jpg"  style="padding:10px;"/>
                <img src="/assets/images/uk-flag.gif" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" style=" font-weight: normal; font-size: small; color: #0c2635;">
                <div style="padding:10px;">
                    MartinLayooInc. Software Is a Single effort by one developer to write the main Cryptography Solutions in AES, RSA and 3DES of Industrial Strength. Since 2007, <i>The Medallion</i> also known as twinkle developed a 624 bit BigInteger Class in .net 3.5 C#. Writing Unit tests to include primality tests with recognition to Miller Rabin's theorem, he successfully accomplished the solutions. This delve into the unknown before a release of a BigInteger class in .NET meant the dawn of RSAInfinito the messaging software - a major coup de'tat.
                </div>
                <div style="padding:10px;">
                    Epsilon Communique Solution allows you to communicate in realtime with a multi group
                    of people over an ultra secure network - AES 256 bit File Transfers. It provides
                    all the basic functionality of Skype/MSN Messenger, however detracts from those
                    applications by allowing a secure Virtual Private Network communication that can't
                    be hacked into from outside the communicating group of individuals. It uses AES
                    256 bit, TripleDES, RSA (512 bit, 1024 bit, 2048 bit and 4096 bit) according to
                    user preference. Key management, User Management and Host Management can be done
                    via the EpsilonVPN Portal (ASP.net MVC application). SQLServer Database RSA Key
                    Storage/Management. SMTP Enabled allowing File attachments. The package consists
                    of a Java Server, Multiple Clients, and an ASP.net Management Portal. The encryption
                    procedures are strong, and it is recommended not to use 4096bit as a result of loss
                    of accuracy in prime number key generation. The best in Sockets Programming and
                    Multi-threading in Java and C#.NET; please it's for your consumption. Printing of
                    Communique available. Virtual Private Network Software at its best: encrypt decrypt
                    using multi strength keys: RSA, AES 256 bit and Triple DES. Transfer files securely
                    and communicate in realtime with a multigroup of professionals in your field.
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    Other Applications on the main MartinLayooInc Site range from Ultimate AES Crypto-system
                    to DES and 3DES as well as RSA. You just have to look at the site to appreciate
                    the endeavour of the Developer, and his enthusiasm for Folder as well as whole file
                    encryption, emailing and File Transfers during a session in Messenger like communication
                    between a conference of people over a network.
                </div>
            </div>
        </div>
    </div>
</div>
