<div class="container-fluid" style="padding:3px !important;text-align:center !important;">
    <div class="row">
        <div class="col-lg-12">
            <div style="text-align:center !important;">
               <a href="{{advertLinkUrl}}">
                   <img id="imageBanner" src="https://myfundiv2.martinlayooinc.com/images/currentAdvert.gif" style="padding:3px !important; height:14vh !important; width:auto !important;" alt="[[Advert Image]]" />
                   </a> 
            </div>
            <ng-container *ngIf="userRoles && userRoles.indexOf('Administrator') > -1" ngDefaultControl ngModel="userRoles">
                <div class="form-group">
                    <input type="file" id="advertBanner" class="form-control-file" name="advertGifFile" (change)="updateUploadAdvert($event)"/><br />
                    <input type="button" class="btn-primary" name="submitAdvert" (click)="submitAdvert($event)" value="Upload Advert Image" /><br />
                </div>
            </ng-container>
        </div>
    </div>
</div>
