<div id="pagerIdBottom"class="container-fluid" style="background-color: dimgrey !important; text-align: center !important; ">
    <span id="search-navigation-links" style="color: dimgrey; padding-top: 5px !important; padding-bottom: 5px !important;">
        <span>
            <a id="prev3" href="#results" style="width: 20px !important; padding: 3px !important; background-color: white !important;" (click)="prev3PagesClicked($event)"> <<  </a> |
        </span>
        <span>
            <a id="prev" href="#results" style="width: 20px !important; padding: 3px !important; background-color: white !important;" (click)="prevPageClicked($event)"> < </a> |
        </span>
        <span>
            <a id="next" href="#results" style="width:20px!important;padding:3px !important;background-color:white !important;" (click)="nextPageClicked($event)"> > </a> |
        </span>
        <span>
            <a id="next3" href="#results" style="width: 20px !important; padding: 3px !important; background-color: white !important;" (click)="next3PagesClicked($event)"> >> </a>
        </span>
    </span>
</div>
