<div class="container-fluid">
  <h3>Support At MartinLayooInc.</h3>
  <div class="row">
    <div class="col-lg-12">
      <h2>Transaction Canceled!</h2><br />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      Thank you for shopping with MartinLayooInc<br />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      Your items Failed the processing Stage however. This can be due to a lack of payment at the end of the transaction or
      cancellation prior to payment. We wish you the best, and hope to expect your next visit. If in doubt about the shopping procedure or have any other query, do not hesitate to contact us
      at the details on our contacts page.
    </div>
  </div>
  <div style='color: red; font-family: verdana;font-weight:bold;' class="row">
    <div class="col-lg-12">
      The transaction is void: if you have any questions pertaining to the mentioned transaction send an email to <a href='mailto:business-info@martinlayooinc.com'>MarinLayooInc Software</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br />
      Regards<br />
      MartinLayooInc Team.
    </div>
  </div>
</div>
