<div class="container-fluid" style="margin-top: 20px !important;">
    <div style="text-align:left !important; margin-top: 20px !important;">
        <h6 style="display:block !important;width:auto;">Level Of Fundi Engagements</h6>
        <em>Fundi Number Of Assignments: {{currentFundiNumbOfAssignments}}</em><br />
    </div>
    <div style="text-align:left !important;background-color: #EEEEEE;margin-top:10px !important;">
        <div class="levelOfEngagement" style="margin:!important; width: 40px !important; line-height: 50px !important; border: gray solid thin !important; text-align: center !important; border-radius: 20px !important;">
            <div id="indicator" style="background-color:gray !important;display:none;margin-left:-4px !important;width:48px !important;z-index:200;position:absolute !important;height:2% !important;"></div>
            <div id="fundiRed" style="background-color: #FF0000 !important; width: 100% !important; height: 24% !important; border: gray solid thin !important; border-radius: 20px 20px 0px 0px !important;">.</div>
            <div id="fundiOrange" style="background-color: #FF8040 !important; width: 100% !important; height: 25% !important; border: gray thin medium !important; border-radius: 0px !important; ">.</div>
            <div id="fundiYellow" style="background-color: #EAF50A !important; width: 100% !important; height: 25% !important; border: gray thin medium !important; border-radius: 0px !important; ">.</div>
            <div id="fundiGreen" style="background-color: #99FF00 !important; width: 100% !important; height: 24% !important; border: gray thin medium !important; border-radius: 0px 0px 20px 20px !important; ">.</div>
        </div>
    </div>
</div>
