<div style="background-color: #EEEEEE;">
    <div style="top: 0px !important; right: 74px !important; width: 200px !important; text-align: right !important; position: absolute;">
        <span style="width:auto;font-weight:bolder !important;">Fundi<br/>Engagements</span><br/><span style="font-style:italic;">Number Of<br />Assignments: {{currentFundiNumbOfAssignments}}</span><br />
    </div>
    <div style="top: 0px !important; right: 10px !important; position: absolute !important; width: 60px !important; text-align:center !important;">
        <div class="levelOfEngagement" style="width: 40px !important; line-height: 60px !important; border: gray solid thin !important; position: absolute !important; text-align: left !important; border-radius: 20px !important;">
            <div id="indicator" style="background-color:gray !important;display:none;margin-left:-4px !important;width:48px !important;z-index:200;position:absolute !important;height:2% !important;">.</div>
            <div id="fundiRed" style="background-color: #FF0000 !important; height: 24% !important; border: gray solid thin !important; border-radius: 20px 20px 0px 0px !important; position: relative !important;">.</div>
            <div id="fundiOrange" style="background-color: #FF8040 !important; height: 25% !important; border: gray thin medium !important; border-radius: 0px !important; position: relative !important; ">.</div>
            <div id="fundiYellow" style="background-color: #EAF50A !important; height: 25% !important; border: gray thin medium !important; border-radius: 0px !important; position: relative !important; ">.</div>
            <div id="fundiGreen" style="background-color: #99FF00 !important; height: 24% !important; border: gray thin medium !important; border-radius: 0px 0px 20px 20px !important; position: relative !important; ">.</div>
        </div>
        <br />
    </div>
    <br />
</div>