/*
div#fundiengagement-indicator {
    top: 0px !important;
    right: 10px !important;
    position: absolute !important;
    width: 60px !important;
    text-align: left !important;
}

div#fundiengagement-message {
    top: 0px !important;
    right: 74px !important;
    width: 400px !important;
    text-align: left !important;
    position: absolute;
}

div#fundiengagement-message {
    top: 0px !important;
    right: 74px !important;
    width: 200px !important;
    text-align: right !important;
    position: absolute;
}

div#fundiengagement-indicator {
    top: 0px !important;
    right: 10px !important;
    position: absolute !important;
    width: 60px !important;
    text-align: left !important;
}


*/

