<div class="container">
  <h2>Manage Handy Man &amp; Entities</h2>
  <div id="createEcosystem" style="margin-top:40px !important;">
    <ul class="nav nav-tabs">
      <li id="menuliAddress" class="nav-item"><a class="nav-link active">Address</a></li>
      <li id="menuliLocation" class="nav-item"><a class="nav-link">Location</a></li>
      <li id="menuliCertification" class="nav-item"><a class="nav-link">Certification</a></li>
      <li id="menuliWorkCategory" class="nav-item"><a class="nav-link">WorkCategory</a></li>
      <li id="menuliCourse" class="nav-item"><a class="nav-link">Course</a></li>
    </ul>
    <div id="tabContent" class="container" style="margin-top:25px !important;">
      <div id="address" class="container" style="display:block;">
        <address></address>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="location" class="container" style="display:none;">
        <location></location>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="workcategory" class="container" style="display:none;">
        <workcategorycrud></workcategorycrud>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="certification" class="container" style="display:none;">
        <certificationcrud></certificationcrud>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="course" class="container" style="display:none;">
        <coursecrud></coursecrud>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
    </div>
  </div>
</div>
